# Python virtual environment and cache
venv/
__pycache__/
*.py[cod]
*$py.class

# Project specific files
*.sqlite
.env
token.json
TOKEN.json

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
fitbyte.code-workspace
